<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{MM/dd/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/app/proj/logs/partsystem.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c - %m%n" />
		</layout>
	</appender>

	<appender name="SQL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/app/proj/logs/partsystem_sql.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{MM/dd/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<logger name="org.hibernate.SQL" additivity="false">
		<level value="WARN" />
		<appender-ref ref="SQL" />
	</logger>

	<logger name="org.partsystem" additivity="false">
		<level value="WARN" />
		<appender-ref ref="FILE" />
	</logger>

	<root>
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>